/* Mobile Footer Styles */

footer {
  .footer-top-section {
    .footer-widget-custom-grid {
      @apply tw-grid tw-max-w-[75vw] tw-mx-auto tw-border-0 tw-border-b tw-border-solid tw-border-white;

      &::before,
      &::after {
        display: none;
      }

      .fwidget.et_pb_widget.widget_nav_menu {
        @apply tw-w-full;
        width: 100% !important;

        .menu {
          @apply tw-hidden;

          .menu-item {
            @apply tw-px-4;

            &:last-of-type {
              @apply tw-mb-4;
            }

            a {
              @apply tw-text-sm tw-relative tw-inline-block;

              &::after {
                content: "";
                @apply tw-inline-block tw-w-none tw-h-[1px] tw-bg-white tw-transition-all tw-duration-200 tw-absolute tw-bottom-[2px] tw-left-0;
              }
            }

            &:hover {
              a {
                &::after {
                  content: "";
                  @apply tw-inline-block tw-w-full tw-h-[1px] tw-bg-white;
                }
              }
            }
          }
        }

        .title {
          @apply tw-border-t tw-border-solid tw-border-white tw-p-4 tw-uppercase tw-relative tw-cursor-pointer;

          &::after {
            @apply tw-block tw-bg-no-repeat tw-invert tw-absolute tw-origin-center;
            transition: all 0.3s linear;
            content: "";
            background-image: url("https://bucketeer-57bb6f5e-ac50-48d6-a1b4-a5559e3736dc.s3.amazonaws.com/public/icons/streamline-micro-bold/interface-essential/geometric-shape/interface-geometric-triangle.svg");
            height: 8px;
            width: 8px;
            right: 1rem;
            top: 1.3rem;

            &:hover {
              @apply tw-rotate-180;
            }
          }
        }
      }
    }

    .et_pb_module.et_pb_image {
      @apply tw-hidden;
    }

    .et_builder_inner_content {
      .et_pb_section {
        .et_pb_row {
          .et_pb_column.et_pb_column_0_tb_footer.et_pb_column_1_2 {
            display: none !important;
          }
        }
      }
    }
  }

  .footer-bottom-section {
    #menu-footer-bottom,
    #menu-footer-bottom-de,
    #menu-footer-bottom-fr,
    #menu-footer-bottom-ja {
      @apply tw-text-center;

      li a,
      li button {
        @apply tw-text-xs tw-relative tw-inline-block tw-text-white tw-opacity-100 tw-pb-[3px] tw-leading-4;

        &::after {
          content: "";
          @apply tw-inline-block tw-h-[1px] tw-bg-white tw-transition-all tw-duration-200 tw-absolute tw-bottom-[2px] tw-left-0;
          width: 0px;
        }

        &:hover {
          &::after {
            content: "";
            @apply tw-inline-block tw-h-[1px] tw-bg-white;
            width: 100% !important;
          }
        }
      }
    }

    ul.menu {
      @apply tw-w-full tw-text-right;

      li {
        @apply tw-inline-block tw-text-right tw-mx-2;
      }
    }

    .fwidget.et_pb_widget.widget_nav_menu {
      @apply tw-w-full;
    }
  }
}

@screen mobile {
}

@screen tablet {
  footer {
    .footer-top-section {
      .et_pb_row {
        @apply tw-max-w-80perc tw-mx-auto;
      }

      .et_pb_module.et_pb_image {
        @apply tw-block;
      }

      .footer-widget-custom-grid {
        @apply tw-border-none tw-grid-cols-4 tw-gap-4 tw-mx-auto tw-p-0;

        .fwidget.et_pb_widget.widget_nav_menu {
          @apply tw-mx-auto tw-p-0;
          width: 80%;
          max-width: 1080px;

          ul.menu {
            @apply tw-inline-block;

            .menu-item {
              @apply tw-px-0;

              &:last-of-type {
                @apply tw-mb-0;
              }
            }
          }

          .title {
            @apply tw-border-none tw-px-0 tw-cursor-default tw-text-sm;

            &::after {
              @apply tw-hidden;
            }
          }
        }
      }
    }

    .footer-bottom-section {
      .et_pb_row {
        width: 80%;
        max-width: 1080px;
      }

      ul.menu {
        @apply tw-w-full tw-text-right;

        li {
          @apply tw-inline-block tw-text-right tw-mx-2;
        }
      }

      .fwidget.et_pb_widget.widget_nav_menu {
        @apply tw-w-full;
      }
    }
  }
}

// Language Switcher 
// =====================================================

#mega-footer-bottom {

  #language-selection {
    @apply tw-mx-auto tw-my-0 tw-self-center;

    .widget_icl_lang_sel_widget {
      @apply tw-w-full tw-m-0;
    }

    .wpml-ls-link {
      @apply tw-w-full tw-inline-block;
    }

    a.wpml-ls-item-toggle {
      @apply tw-bg-transparent tw-border-none tw-text-white tw-w-full;
  
      span {
        @apply tw-text-sm tw-w-full;
      }
  
      &::after {
        @apply tw-origin-center;
        transition: all 0.3s linear;
      }
    
      &:hover {
        &::after {
          @apply tw-origin-center;
          transform: scale(-1);
        }
      }
    }
  
    .wpml-ls-item {
      @apply tw-w-full tw-inline-block;
      float: right !important;
    }
  
    .wpml-ls-sub-menu {
      @apply tw-w-full tw-bg-white tw-absolute tw-top-auto tw-bottom-0 tw-right-0 tw-left-auto tw-border-t tw-border-gray-300 tw-p-0 tw-m-0 tw-list-none tw-z-[101];
    }
  }

  #copyright {
    text-align: left;
    margin-left: 1rem;

    .copyright-break {
      margin-top: 8px;
      display: block;
    }
  }
}

// #footer-left #copyright {
//   text-align: left;
//   margin-left: 1rem;
// }

// #footer-left #copyright .copyright-break {
//   margin-top: 8px;
//   display: block;
// }

// #mega-footer-bottom .footer-bottom-section .widget_icl_lang_sel_widget {
//   width: 100px;
//   margin-bottom: 0.5rem;
// }

// #mega-footer-bottom .footer-bottom-section #language-selection {
//   margin: 0 0 !important;
//   width: 100px;
// }

#legal-links {
    #ot-sdk-btn.ot-sdk-show-settings,
    #ot-sdk-btn.optanon-show-settings {
      font-size: 0.75rem !important;
      font-weight: 400;
      color: white !important;
      border: none !important;
      background-color: transparent;
      padding: 0;

        &:hover {
            color: white !important;
            background-color: transparent !important;
        }
    }
}
