/* ========================================== 
  Header Customizations
========================================== */

$transition: all 0.3s linear;

.header-background-section {
  @apply tw-w-full tw-h-[25rem] tw-min-h-[25rem] tw-inline-block tw-bg-no-repeat tw-bg-cover;
}

#homepage-banner {
  @apply tw-w-full;
}

#page-container {
  #main-header {
    /* top: 0px; */
    /* position: sticky !important; */
    min-height: 4.5rem;
  }
}

/* Adjust header for banner alert */

body.has-alert {
  #page-container {
    padding-top: 120px !important;
  }
}

#page-container #main-header.has-alert {
    max-height: 120px;
}

.et-pb-section.et_pb_section_sticky {
  padding: 4% 0 !important;
}

body.admin-bar {
  #wpadminbar {
    @apply tw-overflow-hidden;
    li {
      @apply tw-max-w-[200px] tw-overflow-hidden;
    }
  }
}

.get-started-button a {
  @apply tw-rounded tw-border-none tw-cursor-pointer tw-inline-block tw-text-sm tw-font-bold tw-leading-5 tw-px-6 tw-py-2 tw-bg-yellow-500 tw-text-gray-900;
  padding: 0.5rem 1.5rem !important;

  &:focus,
  &:hover,
  &:active {
    @apply tw-text-black tw-bg-yellow-600;
  }
}

body.admin-bar #wpadminbar {
  overflow: hidden;
}
body.admin-bar #wpadminbar li {
  overflow: hidden;
  max-width: 190px;
}

/* ========================================== 
  Header Heros for Main Pages
========================================== */
.header-hero {
  @apply tw-outline-none tw-p-0 tw-bg-transparent tw-bg-no-repeat tw-bg-cover tw-mx-auto tw-relative tw-min-h-[25rem] tw-grid tw-content-center;

  .hero-bg {
    @apply tw-absolute tw-top-0 tw-left-0 tw-w-full tw-h-full tw-bg-transparent tw-bg-no-repeat tw-bg-cover;
    background-position: center center;

    @screen small {
      left: 15vw;
      width: calc(100% - 15vw);
    }

    @screen medium {
      left: 12vw;
      width: calc(100% - 12vw);
    }
  }

  .hero-wrapper {
    @apply tw-relative tw-z-10 tw-grid tw-items-center tw-w-full tw-h-full tw-p-0 tw-mx-auto tw-my-0;
    min-height: 25rem;
    max-width: 75vw;

    @screen tablet {
      min-height: 25rem;
      max-width: 65vw;
    }

    @screen small {
      min-height: 0;
      max-width: 45vw;
      margin: 0;
      margin-left: 4rem;
    }

    .hero-body {
      @apply tw-shadow-old tw-block tw-bg-white tw-rounded-[3px] tw-self-center tw-px-6 tw-py-8;

      @screen tablet {
        @apply tw-py-7 tw-top-0 tw-px-5 tw-m-0;
      }

      &::before {
        display: block;
        content: '';
        position: relative;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* ========================================== 
  CTA Banner / Alert Banner
 ========================================== */
.banner-alerts-container {
  display: none !important;

  @apply tw-bg-applause-blue tw-text-white;

  #banner-alerts {
    @apply tw-text-center tw-flex tw-justify-center tw-gap-4;
    max-height: 3rem;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  a {
    @apply tw-text-white tw-text-sm tw-border-b tw-border-white tw-border-solid tw-transition-all tw-inline-block tw-leading-[3rem];
  }

  h2 {
    @apply tw-text-white tw-text-sm tw-leading-[3rem];

    &:hover {
      @apply tw-border-opacity-0;
    }
  }

  .controls {
    @apply tw-p-4;

    a.dismiss {
      @apply tw-invert tw-inline-block tw-text-white tw-duration-200 tw-rounded-none;
      transform-origin: left;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url("https://bucketeer-57bb6f5e-ac50-48d6-a1b4-a5559e3736dc.s3.amazonaws.com/public/icons/streamline-micro-bold/interface-essential/add-remove-delete/interface-delete-1.svg");
      background-size: contain;
      height: 1rem;
      width: 1rem;
      text-indent: -10000rem;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

@media (min-width: 901px) {
  .banner-alerts-container {
    display: block !important;
  }
}
// END Banner Alert
