/* ========================================== 
  Header Customizations
========================================== */

$transition: all 0.3s linear;

.header-background-section {
  @apply tw-w-full tw-h-[25rem] tw-min-h-[25rem] tw-inline-block tw-bg-no-repeat tw-bg-cover;
}

#homepage-banner {
  @apply tw-w-full;
}

#page-container {
  #main-header {
    /* top: 0px; */
    /* position: sticky !important; */
    min-height: 4.5rem;
  }
}

/* Adjust header for banner alert */

body.has-alert {
  #page-container {
    padding-top: 120px !important;
  }
}

#page-container #main-header.has-alert {
    max-height: 120px;
}

.et-pb-section.et_pb_section_sticky {
  padding: 4% 0 !important;
}

body.admin-bar {
  #wpadminbar {
    @apply tw-overflow-hidden;
    li {
      @apply tw-max-w-[200px] tw-overflow-hidden;
    }
  }
}

.get-started-button a {
  @apply tw-rounded tw-border-none tw-cursor-pointer tw-inline-block tw-text-sm tw-font-bold tw-leading-5 tw-px-6 tw-py-2 tw-bg-yellow-500 tw-text-gray-900;
  padding: 0.5rem 1.5rem !important;

  &:focus,
  &:hover,
  &:active {
    @apply tw-text-black tw-bg-yellow-600;
  }
}

body.admin-bar #wpadminbar {
  overflow: hidden;
}
body.admin-bar #wpadminbar li {
  overflow: hidden;
  max-width: 190px;
}

#mega-menu-dropdowns {
  .mega-nav-dropdown {
    #inner-title-push-down {
      margin-top: 2rem;
    }

    .et_pb_module_inner {
      .inner-link.type-menu {
        .link-title {
          @apply tw-text-sm tw-leading-5;
        }

        .link-description {
          @apply tw-text-xs tw-leading-5 tw-text-gray-500;
        }
      }
    }
  }

  #solutions-menu {
    display: block;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #fff #fff;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      border: 1px solid #ececec;
      border-radius: 10px;
    }

    // .dicm_custom_icon_boxs {
      .mini-title .link-title {
        font-size: 12px;
        color: #606060;
        text-decoration: underline;
        text-transform: uppercase;
      }

      .link-entry {
        text-transform: capitalize;
        font-size: 1rem;
        color: #606060;
      }

      a.mini-title .link-title:after {
        border-color: transparent transparent transparent #606060;
        border-width: 4px 0 4px 6.9px;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: .5rem;
        width: 0;
        border-style: solid;
      }

      .solutions-link {
        font-size: 13px;
        padding: 0;
        margin: 0;
        margin-bottom: 0.75rem;
        line-height: 1.25rem;

        p {
          font-size: 13px;
          padding: 5px 1rem;
          line-height: 1.25rem;
        }
      }

      .mini-title,
      .no-link {
        border-bottom: none;
        border-top: none;
      }

      .no-link {
        // padding-top: 10px;
      }

      .mini-title .link-title {
        // border-bottom: none;
      }
    // }
  }
}

/* ========================================== 
  Header Heros for Main Pages
========================================== */
.et_pb_fullwidth_section.header-hero {
  @apply tw-outline-none tw-p-0 tw-bg-transparent tw-bg-no-repeat tw-bg-cover tw-relative tw-min-h-[25rem] tw-grid tw-right-0;
  position: relative !important;
  display: grid;
  width: calc(100% - 12rem) !important;
  margin-right: 0 !important;
}

@media (max-width: 980px) {
  .et_pb_fullwidth_section.header-hero {
    width: 100% !important;
    .et_pb_fullwidth_header_0 {
      width: 82% !important;
    }
  }
}

/* ========================================== 
  CTA Banner / Alert Banner
========================================== */
.banner-alerts-container {
  display: none;

  @apply tw-bg-applause-blue tw-text-white;

  #banner-alerts {
    @apply tw-text-center tw-flex tw-justify-center tw-gap-4;
    max-height: 3rem;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  a {
    @apply tw-text-white tw-text-sm tw-transition-all tw-inline-block tw-leading-[3rem];
  }

  h2 {
    @apply tw-text-white tw-text-sm tw-leading-[3rem];

    &:hover {
      @apply tw-border-opacity-0;
    }
  }

  .controls {
    @apply tw-p-4 tw-text-white;

    a.dismiss {
      @apply tw-invert tw-inline-block tw-text-white tw-duration-200 tw-rounded-none;
      transform-origin: left;
      background-size: 100%;
      background-repeat: no-repeat;
      mask-image: url("https://bucketeer-57bb6f5e-ac50-48d6-a1b4-a5559e3736dc.s3.amazonaws.com/public/icons/streamline-micro-bold/interface-essential/add-remove-delete/interface-delete-1.svg");
      background-size: contain;
      height: 1rem;
      width: 1rem;
      text-indent: -10000rem;
      background-color: #fff;

      &:hover {
        transform: scale(1.25);
      }
    }
  }
}

@media (min-width: 901px) {
  .banner-alerts-container {
    display: block;
  }
}
// END Banner Alert

/* ========================================== 
  Navigation Customizations
========================================== */

// Mobile ===================================
// ==========================================
@media (max-width: 900px) {
  /* ### Menu breakpoint for default menu ### */
  #et_mobile_nav_menu {
    display: block !important;
  }
  #top-menu {
    display: none !important;
  }

  /* ### Menu breakpoint for the theme builder ### */
  .et_pb_menu .et_pb_menu__menu,
  #et-main-area .de-mega-menu-container {
    display: none !important;
  }

  #et_mobile_nav_menu {
    display: block !important;

    #mobile_menu {
      max-height: 75vh;
      overflow-x: scroll;
      scrollbar-color: #fff #fff;
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 10px;
      }
    }
  }

  .et_pb_svg_logo #logo {
    max-width: 12rem;
    width: 12rem;
    height: auto !important;
  }

  .et_header_style_left .logo_container {
    height: 4.5rem;
    max-height: 4.5rem;
  }

  .et_header_style_left #et-top-navigation .mobile_menu_bar {
    padding-bottom: 16px;
  }

  #page-container {
    #et-boc {
      #main-header {
        #et-top-navigation {
          max-height: 4.5rem;
        }
      }
    }
  }

  /* Our Solutions window */
  .our_solutions.menu-item {
    .et_pb_row {
      .et_pb_column {
        width: 100% !important;
      }
    }

    .dicm_custom_icon_boxs {
      .inner-link {
        @apply tw-gap-4;
      }
    }

    .et_pb_module.et_pb_text {
      @apply tw-py-0 tw-my-0;

      padding: 0 !important;
      margin: 0 !important;

      .et_pb_text_inner {
        a {
          border: 0px transparent solid;
        }

        p {
          margin-bottom: 0 !important;
          padding-bottom: 0 !important;
        }
      }
    }

    .no-link {
      padding-left: 0px !important;
      padding-bottom: 10px !important;

      span {
        @apply tw-gap-2;
      }
    }

    .mini-title {
      padding-left: 0px !important;
      padding-bottom: 5px !important;

      span {
        @apply tw-gap-2;
      }
    }

    .mini-title .link-title {
      @apply tw-border-b tw-border-solid tw-border-gray-900 tw-mb-2;
      line-height: 1rem;
      transition: all 0.3s linear;

      &::after {
        border-color: transparent transparent transparent #606060;
        border-width: 4px 0 4px 6.9px;
        content: "";
        display: inline-block;
        height: 0;
        margin-left: 0.5rem;
        width: 0;
      }
    }
  }
}

// Tablet ===================================
// ==========================================
@media (min-width: 901px), (max-width: 980px), (min-width: 980px)  {

  /* ### Menu breakpoint for default menu ### */
  #et_mobile_nav_menu {
    display: none !important;
  }
  #top-menu {
    display: block !important;
  }

  /* ### Menu breakpoint for the theme builder ### */
  .et_pb_menu .et_pb_menu__menu {
    display: block !important;
  }
  .et_mobile_nav_menu {
    display: none !important;
  }

  .et_header_style_left #logo {
    max-width: 12rem;
    width: 12rem;
    height: auto !important;
  }

  .et_header_style_left #et-top-navigation,
  .et_header_style_left .et-fixed-header #et-top-navigation {
    padding-top: 0px !important;
  }

  /* Top Menu Bar */
  #top-menu {
    > li.menu-item {
      padding-right: 0px !important;

      /* Disable arrows */
      > a::after {
        content: "";
        display: none !important;
      }

      /* Hover Tabs */
      &:not(.get-started-button) {
        a {
          @apply tw-opacity-100 tw-font-[500];
          padding: 1.8rem 0.5rem !important;

          &:hover {
            @apply tw-opacity-100 tw-bg-blue-100;
          }

          &::before {
            content: "";
            transition: all linear 0.2s;
            @apply tw-transform-none tw-w-none tw-h-[2px] tw-p-0 tw-border-none tw-absolute tw-bottom-0 tw-left-0 tw-top-auto tw-right-auto tw-m-0;

            &:hover {
              @apply tw-transform-none tw-w-full tw-h-[2px] tw-bg-blue-500 tw-inline-block;
            }
          }
        }
      }
    }
  }
}
