#applause-swiper-timeline {
  @apply tw-bg-white tw-rounded-lg tw-overflow-hidden;

  .swiper-initialized {
    @apply tw-px-12;
  }

  .swiper {
    .swiper-wrapper {
      .card-slide {
        @apply tw-p-0 tw-text-left tw-w-full tw-h-full tw-min-h-[350px] tw-opacity-0 tw-transition-opacity tw-duration-200;

        &.swiper-slide-visible {
          @apply tw-opacity-100;
        }

        .slide-title {
          @apply tw-mb-2 tw-font-bold;
        }

        .slide-text {
          ul {
            @apply tw-relative tw-pl-0 tw-text-md tw-list-none tw-list-outside;

            li {
              @apply tw-relative tw-pl-6 tw-mb-4 tw-text-sm;

              &::before {
                content: "→";
                @apply tw-absolute tw-top-0 tw-left-0 tw-text-blue-500 tw-text-sm;
              }
            }
          }
        }
      }
    }

    .swiper-pagination.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        @apply hover:tw-bg-gray-300 tw-bg-gray-400;

        &.swiper-pagination-bullet-active {
          @apply hover:tw-bg-blue-700 tw-bg-blue-600;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      @apply tw-grayscale tw-w-12 tw-h-12;
      background: transparent
        url("https://bucketeer-57bb6f5e-ac50-48d6-a1b4-a5559e3736dc.s3.amazonaws.com/public/icons/quote-arrow-left.svg")
        no-repeat top left !important;
    }

    .swiper-button-next {
      @apply tw-hidden;
    }

    .swiper-button-prev {
      @apply tw-hidden;
    }

    @screen medium {
      .swiper-button-next {
        @apply tw-block;
        right: -1.5rem !important;
      }

      .swiper-button-prev {
        @apply tw-block;
        left: 1.5rem !important;
      }
    }
  }

  .custom-cardSlider {
    @apply tw-p-4 tw-m-0 tw-bg-white tw-rounded tw-overflow-x-hidden;
  }

  .cards-wrapper {
    @apply tw-pb-0;
  }

  .swiper-pagination.swiper-pagination-bullets {
    @apply tw-bottom-0;
  }
}

.cards-wrapper {
  @apply tw-w-full tw-h-full tw-py-4;

  &.swiper.swiper-initialized {
    @apply tablet:tw-pb-0 tw-pb-16 tw-overflow-visible;

    .swiper-button-prev,
    .swiper-button-next {
      @apply tablet:tw-h-16 tablet:tw-w-16 tw-aspect-square tw-w-12 tw-h-12;
      background: transparent
        url("https://bucketeer-57bb6f5e-ac50-48d6-a1b4-a5559e3736dc.s3.amazonaws.com/public/icons/quote-arrow-left.svg")
        no-repeat top left !important;
      opacity: 0.7;

      &::after,
      &::before {
        display: none;
      }
    }

    .swiper-button-next {
      @apply tw-right-[-3.5rem] tablet:tw-right-[-6rem];
      transform: rotate(180deg);
    }

    .swiper-button-prev {
      @apply tw-left-[-3.5rem] tablet:tw-left-[-6rem];
    }

    .swiper-button-disabled {
      @apply tw-opacity-0;
      opacity: 0 !important;
    }

    @screen tablet {
      .swiper-button-prev {
        transform: translateX(-2rem);
      }

      .swiper-button-next {
        transform: rotate(180deg) translateX(2rem);
      }
    }
  }

  .swiper-pagination.swiper-pagination-bullets {
    @screen tablet {
      top: 80% !important;
    }

    .swiper-pagination-bullet {
      @apply tw-indent-[10000px] tw-overflow-hidden tw-rounded tw-w-6 tw-h-[0.5rem] tw-inline-block tw-mx-1;
      @apply tw-transition-colors tw-duration-200 tw-bg-gray-400 tw-cursor-pointer;

      @screen tablet {
        @apply tw-w-12 tw-mx-2;
      }
    }
  }
}

#applause-swiper-locations {
  .swiper-wrapper,
  .applause-swiper-wrapper {
    @screen tablet {
      @apply tw-grid tw-gap-4;
    }

    .card {
      @apply tw-px-4 tw-py-4 tw-pt-12 tw-bg-white tw-bg-left-top tw-bg-no-repeat tw-border tw-border-gray-300 tw-rounded-lg;
      background-size: 2.5rem 1.5rem;
      background-position-x: 1rem;
      background-position-y: 1rem;

      .card-title {
        @apply tw-mb-1 tw-text-lg tw-font-semibold;

        span {
          @apply tw-text-md tw-font-normal;
        }
      }

      p {
        @apply tw-flex tw-justify-between;

        a {
          @apply hover:tw-text-blue-700 tw-relative tw-text-xs tw-text-gray-700 tw-no-underline;
          padding-right: 1rem;

          &::after {
            content: "\27F6";
            @apply tw-absolute tw-w-2 tw-pl-1 tw-transition-transform tw-duration-200;
          }

          &:hover {
            &::after {
              @apply tw-inline-block tw-scale-x-110;
            }
          }
        }
      }
    }
  }

  .applause-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      @apply tw-hidden;
    }
  }

  .applause-swiper-wrapper {
    .card {
      @apply tablet:tw-mb-0 tw-mb-4;
    }
  }

  .custom-headings,
  .custom-paragraphText {
    @apply tw-text-left;
  }

  .card {
    @apply hover:tw-border-gray-500 tw-w-full tw-duration-300;

    > div {
      @apply tw-w-full;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      display: inline-grid;
      height: 100%;
      align-content: center;
    }
  }

  .location-link {
    @apply tw-pb-0 tw-mb-0;
  }
}

// Inactive Slider
.applause-swiper-wrapper {
  .applause-swiper-slide {
    @apply tw-overflow-hidden tw-text-left tw-border tw-border-gray-300 tw-rounded;
    padding: 0 !important;

    picture {
      max-width: 100% !important;
    }

    &:hover {
      @apply tw-border-gray-400;

      span.card-link {
        @apply tw-text-black tw-bg-gray-300;
      }

      picture {
        max-width: 100% !important;
        // @apply tw-overflow-hidden;

        img {
          @apply tw-scale-110;
        }
      }
    }

    picture {
      @apply tw-relative tw-aspect-[3/1.5] tw-overflow-hidden;

      img {
        @apply tw-absolute tw-mb-0 tw-transition-all tw-ease-linear;
        margin-bottom: 0 !important;
      }
    }

    .slide-contents {
      @apply tw-inline-block tw-h-full tw-p-5 tw-bg-white;

      .card-link {
        @apply tw-inline-block tw-px-4 tw-py-2 tw-mt-2 tw-text-xs tw-font-semibold tw-text-gray-800 tw-no-underline tw-transition-colors tw-bg-gray-200 tw-rounded-sm;
      }
    }
  }
}

/* Employee Quote */
.employee-quote .et_pb_testimonial_content:before {
  content: "“";
  display: block;
  font-size: 96px;
  height: 4rem;
  left: 0;
  line-height: 1;
  position: relative;
  top: 0;
}

/* Gray Border Boxes */
.applause-border-box {
  .et_pb_blurb_container {
    @apply tw-p-4 tw-static tw-pt-0;
  }

  .et_pb_main_blurb_image {
    @apply tw-mb-2;
  }

  .et_pb_blurb_description {
    @apply tw-pb-8 tw-p-0;
  }

  &:hover {
    .card-link {
      @apply tw-bg-gray-300 tw-text-black;
    }
  }

  .card-link {
    @apply tw-absolute tw-bottom-4 tw-left-4 tw-inline-block tw-px-4 tw-py-2 tw-mt-2 tw-text-xs tw-font-semibold tw-text-gray-800 tw-no-underline tw-transition-colors tw-bg-gray-200 tw-rounded-sm;
  }

  .et_pb_blurb_content {
    @apply tw-static tw-pb-8;
  }
}