@media tablet {
  #main-header .container {
    width: 95%;
  }
}

.dicm_custom_image_boxs {
  .cta-link {
    @apply tw-block tw-text-xs;

    .cta-title {
      @apply tw-mt-4 tw-mb-2 tw-text-base tw-text-gray-900 tw-font-normal;
    }
  
    .cta-description {
      @apply tw-text-xs tw-text-gray-500 tw-leading-[1.1rem];
    }

    .cta-fake-link {
      @apply tw-text-blue-500 tw-text-xs tw-underline tw-mt-1;
    }

    &:hover {
      .cta-fake-link {
        @apply tw-text-blue-700 tw-no-underline;
      }
    }

    img {
      @apply tw-w-full tw-aspect-[3/2] tw-rounded-[4px];
    }
  }
}

.dicm_custom_icon_boxs {
  a.inner-link {
    @apply tw-flex tw-gap-2 tw-transition-all tw-duration-200;

    .link-title {
      @apply tw-font-normal;
    }

    .link-description {
      @apply tw-text-xs tw-text-gray-600 tw-leading-5;
    }
  }

  a.hover {
    img.nav-icon {
      @apply tw-rounded-md tw-mb-2 tw-block;
      height: 20px;
      width: 20px;
    }
  }

  .cta-title {
    @apply tw-font-normal tw-mb-2 tw-text-md;
  }

  .no-link {
    .link-title {
      @apply tw-text-xs tw-text-gray-500 tw-no-underline tw-uppercase;
    }
  }

  .mini-title,
  .no-link {
    span {
      @apply tw-flex;
    }
  }
}

#solutions-menu {
  .solutions-link {
    @apply tw-text-sm tw-m-0 tw-p-0 tw-mb-3;

    p {
      @apply tw-text-sm tw-px-4;
    }
  }

  .dicm_custom_icon_boxs {
    .mini-title {
      @apply tw-text-xs tw-text-gray-500 tw-no-underline tw-uppercase;

      &:hover {
        .link-title {
          @apply tw-text-gray-700;

          :after {
            border-color: transparent transparent transparent
              theme("colors.gray.700");
          }
        }
      }
    }

    .link-entry {
      @apply tw-capitalize tw-text-md tw-text-gray-500;
    }

    .link-title {
      &:after {
        border-color: transparent transparent transparent #606060;
        border-width: 4px 0 4px 6.9px;
        content: "";
        @apply tw-inline-block tw-h-0 tw-w-none tw-ml-2 tw-border-solid;
      }
    }

    .type-title {
      .nav-icon {
        margin-right: 5px;
      }
    }
  }
}

#mega-menu-dropdowns {
  position: relative;

  .et_pb_section {
    padding: 0;
    margin: 0;

    .et_pb_row {
      position: absolute !important;
      background-color: white;
      top: 0;
      right: 0;
      display: none;
      padding: 1rem !important;
      box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.3);
      width: 100%;
    }
  }

  .mega-nav-dropdown {
    position: relative;
    max-width: 55vw;
    right: -8rem;
  }
}

.pdfemb-viewer {
  margin: 0 auto !important;
}
