@media tablet {
  #main-header .container {
    width: 95%;
  }
}

.dicm_custom_icon_boxs a.inner-link {
  display: flex;
  gap: 10px;
}

.dicm_custom_icon_boxs a.inner-link img {
  display: block;
  height: 20px;
  width: 20px;
}

.dicm_custom_icon_boxs a.inner-link .link-title {
  font-weight: 400;
}

.dicm_custom_image_boxs a.hover {
  display: block;
}

.dicm_custom_image_boxs a.hover .cta-title {
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.dicm_custom_image_boxs a.hover img {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
  height: auto;
}

.dicm_custom_image_boxs a.hover .tw-underline {
  text-decoration: underline;
  color: #0272B4;
}

.dicm_custom_icon_boxs .no-link .link-title {
  font-size: 12px;
  color: #606060;
  text-decoration: no-underline;
  text-transform: uppercase;
}

.dicm_custom_icon_boxs .mini-title span,
.dicm_custom_icon_boxs .no-link span {
  display: flex;
}

.dicm_custom_icon_boxs .mini-title .nav-icon,
.dicm_custom_icon_boxs .no-link .nav-icon {
  margin-right: 0.5rem;
}

.dicm_custom_icon_boxs .nav-icon {
  height: 20px;
  width: 20px;
}

#solutions-menu .dicm_custom_icon_boxs .mini-title .link-title {
  font-size: 12px;
  color: #606060;
  text-decoration: underline;
}

#solutions-menu .dicm_custom_icon_boxs .link-entry {
  text-transform: capitalize;
  font-size: 1rem;
  color: #606060;
}

#solutions-menu .dicm_custom_icon_boxs a.mini-title .link-title:after {
  border-color: transparent transparent transparent #606060;
  border-width: 4px 0 4px 6.9px;
  content: "";
  display: inline-block;
  height: 0;
  margin-left: .5rem;
  width: 0;
  border-style: solid;
}

#solutions-menu .solutions-link {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-bottom: 0.75rem;
}

#solutions-menu .solutions-link p {
  font-size: 14px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#mega-menu-dropdowns {
  position: relative;
}

#mega-menu-dropdowns .et_pb_section {
  padding: 0;
  margin: 0;
}

#mega-menu-dropdowns .mega-nav-dropdown {
  position: relative;
  max-width: 55vw;
  right: -8rem;
}

#mega-menu-dropdowns .et_pb_section .et_pb_row {
  position: absolute !important;
  background-color: white;
  top: 0;
  right: 0;
  display: none;
  padding: 1rem !important;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.pdfemb-viewer {
  margin: 0 auto !important;
}
