/vendor/
**/et-cache/**/*

nginx-wordpress.conf

.env
.DS_Store
**/.DS_Store
node_modules

debug.log
yarn-error.log
wp-content/themes/applause/public/icons/streamline-micro-bold
wp-content/themes/applause/public/icons/streamline-regular

Keys/applause-wp.local.crt
Keys/applause-wp.local.key
.vscode/launch.json
*.sql
*.log
*.zip
.vscode/
/**/*/stats.json

/dist
/**/*/dist/**/*/
applause theme jump
wp-content/uploads/**/*