*[hidden] {
  @apply tw-hidden;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  @apply tw-flex tw-flex-col tw-min-h-screen tw-font-sans tw-text-base tw-text-gray-700;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;

  img {
    @apply tw-block tw-w-auto tw-max-w-full;
  }

  p {
    @apply tw-mb-6;
  }

  p, li {
    @apply tw-text-base;

    &:empty {
      @apply tw-hidden tw-p-0 tw-m-0;
    }
  }

  strong {
    @apply tw-font-semibold;
  }
  
  em {
    @apply tw-italic;
  }

  a {
    &.link {
      transition: $transition;
      @apply tw-text-blue-500 tw-no-underline;
  
      &:hover,
      &:active,
      &:focus {
        @apply tw-text-blue-700 tw-underline;
      }
    }
  }

  pre {
    @apply tw-block tw-w-full tw-px-4 tw-py-2 tw-mb-6 tw-text-base tw-bg-gray-100 tw-rounded;
  
    code {
      @apply tw-block tw-w-full tw-p-2 tw-text-base tw-bg-transparent;
    }
  }

  select:invalid,
  textarea::placeholder,
  input::placeholder {
    @apply tw-text-gray-700 tw-opacity-100;
  }

  picture {
    @apply tw-block;

    .transformed-image {
      @apply tw-h-auto tw-max-w-full tw-mx-auto tw-my-0;
    }
  }

  .button,
  .btn {
    @apply tw-text-sm2 tw-leading-4;
  }

  /* Hover box effect */
  .hover {
    @apply tw-px-4 tw-py-4 tw-text-gray-900 tw-rounded-sm tw-cursor-pointer;
    transition: $transition;

    &.hover-white {
      &:hover,
      &:active,
      &:focus {
        color: theme('colors.black');
        background-color: theme("colors.white");
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: theme('colors.black');
      background-color: theme('colors.blue.100');
    }

    &.with-arrow {
      transition: $transition;
      background-image: url("/public/icons/normal-circle-arrow.svg");
      background-repeat: no-repeat;
      background-position: bottom 1rem right 1rem;
      background-size: 2.5rem;

      &:hover {
        background-image: url("/public/icons/hover-circle-arrow.svg");
        background-repeat: no-repeat;
        background-position: bottom 1rem right 1rem;
        background-size: 2.5rem;
      }
    }
  }

  .section {
    &:nth-child(even) {
      /* Default */
    }

    &:nth-child(odd) {
      .hover {
        &:hover,
        &:active,
        &:focus {
          color: theme('colors.black');
          background-color: theme("colors.white");
        }
      }
    }
  }

  .under-link {
    @apply tw-inline-block tw-no-underline;
  
    &::after {
      @apply tw-block tw-no-underline tw-bg-white;
      content: '';
      width: 0px;
      height: 1px;
      transition: $transition;
      margin-top: 2px;
    }
  
    &:hover::after {
      @apply tw-block tw-w-full;
      margin-top: 2px;
    }
  }

  .lazyload,
  .lazyloading {
    @apply tw-invisible tw-inline-block tw-opacity-0;
  }

  .lazyloaded {
    @apply tw-visible tw-transition-opacity tw-duration-200 tw-opacity-100;
  }

  .label-up {
    @apply tw-text-sm tw-rounded;
    transform: translateY(-1.6rem);
  }

  .hidden-content {
    @apply tw-max-h-[0px] tw-overflow-hidden;
    transition: max-height 0.2s ease-out;
  }

  .tag-label {
    @apply tw-inline-block tw-py-[2px] tw-px-1 tw-border tw-border-gray-400 tw-text-[.7rem] tw-leading-4 tw-uppercase tw-text-gray-500;
    letter-spacing: 1px;
  }

  .rt-list {
    ul {
      list-style: disc;
      padding-left: 40px;
  
      li {
        margin-bottom: 1em;
      }
    }
  
    ol {
      list-style: decimal;
      padding-left: 40px;
  
      li {
        margin-bottom: 1em;
      }
    }
  }
  
  .rt-copy {
    p {
      line-height: 24px;
    }
  }

  .side-nav {
    box-shadow: 0 0 7px #000;
    top: 0;
    left: -400px;
    transition: all 300ms ease-in-out;
  
    &.open {
      left: 0;
    }
  
    .h-list {
      &::after {
        content: '-';
        margin-left: 0.25rem;
        font-family: 'Rubik';
      }
    }
  
    li {
      @apply tw-font-rubik tw-text-xs tw-font-normal tw-leading-none tw-uppercase;
  
      a {
        @apply tw-font-normal tw-no-underline;
      }
    }
  }  

  #content .container, 
  #content .tw-container {
    margin: 0 auto;

    li {
      &:not(:last-of-type) {
        @apply tw-mb-6;
      }
    }

    strong > a,
    p > a,
    li > a {
      transition: $transition;
      @apply tw-text-blue-500 tw-underline;

      &:hover,
      &:active,
      &:focus {
        @apply tw-text-blue-700 tw-no-underline;
      }
    }

    .column {
      @apply tablet:tw-px-4;
      
      ul {
        @apply tw-ml-8 tw-list-disc;

        > li {
          @apply tw-text-base;
        }
      }

      ol {
        @apply tw-ml-8 tw-list-decimal;

        > li {
          @apply tw-text-base;
        }
      }
    }

    .two-columns {
      @apply tablet:tw-grid-cols-2 tablet:tw-gap-x-6 tw-grid tw-grid-cols-none;
    }
  }

  #close-cta-banner {
    @apply tw-invert tw-inline-block tw-text-white tw-duration-200 tw-rounded-none;
    transform-origin: left;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/public/icons/streamline-micro-bold/interface-essential/add-remove-delete/interface-delete-1.svg");
    background-size: contain;
    height: 1rem;
    width: 1rem;

    &:hover {
      transform: scale(1.25);
    }
  }

  #header-cta-banner {
    max-height: 3rem;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;

    &.closing {
      max-height: 0rem;
      overflow-y: hidden;
    }
  }

  /* Dynamic font sizing */
  $pSizeStep: 0.125;
  $pStartSize: 0.75;
  $pLevels: 7;

  @for $i from 0 through $pLevels {
    .p-#{$i} {
      font-size: #{$pStartSize + ($pSizeStep * $i)}rem !important;
      line-height: #{$pStartSize + ($pSizeStep * 2)}rem;

      &:not(:last-child) {
        margin-bottom: #{$pSizeStep * 2}rem;
      }
    }
  }

  // H1 - H6 
  .title {
    @apply tw-mb-4 tw-font-sans tw-font-bold tw-text-gray-800 tw-break-words;
    line-height: 1.1;

    &.as-h1 { @apply tw-text-[1.9375rem]; }
    &.as-h2 { @apply tw-text-[1.5625rem]; }
    &.as-h3 { @apply tw-text-2xl; }
    &.as-h4 { @apply tw-text-xl; }
    &.as-h5,
    &.as-h6 {
      @apply tw-text-base;
    }
  }

  .sub-title {
    @apply tw-mb-4 tw-font-semibold tw-text-blue-600 tw-break-words;
    line-height: 1.1;

    &.as-h1 { @apply tw-text-lg; }
    &.as-h2 { @apply tw-text-base; }
    &.as-h3,
    &.as-h4,
    &.as-h5,
    &.as-h6 {
      @apply tw-text-sm;
    }
  }
}

@screen mobile {
  body {
    .title {
      @apply tw-font-bold;

      &.as-h1 { @apply tw-text-5xl; }
      &.as-h2 { @apply tw-text-[1.75rem]; }
      &.as-h3 { @apply tw-text-[1.375rem]; }
      &.as-h4 { @apply tw-text-[1.175rem]; }
      &.as-h5,
      &.as-h6 {
        @apply tw-text-lg;
      }
    }
  }
}

@screen small {
  body {
    .title {
      &.as-h1 { @apply tw-text-[2.375rem]; }
      &.as-h2 { @apply tw-text-[1.9375rem]; }
      &.as-h3 { @apply tw-text-[1.5625rem]; }
      &.as-h4 { @apply tw-text-xl; }
      &.as-h5,
      &.as-h6 {
        @apply tw-text-lg;
      }
    }
  }
}

@screen small {
  body {
    .title {
      &.as-h1 { @apply tw-text-[2.6875rem]; }
      &.as-h2 { @apply tw-text-[2.1875rem]; }
      &.as-h3 { @apply tw-text-[1.75rem]; }
      &.as-h4 { @apply tw-text-[1.375rem]; }
      &.as-h5,
      &.as-h6 {
        @apply tw-text-lg;
      }
    }

    .sub-title {
      &.as-h1 { @apply tw-text-lg; }
      &.as-h2,
      &.as-h3,
      &.as-h4,
      &.as-h5,
      &.as-h6 {
        @apply tw-text-base;
      }
    }
  }
}

@screen medium {
  body {
    .title {
      &.as-h1 { @apply tw-text-[2.6875rem]; }
      &.as-h2 { @apply tw-text-[2.1875rem]; }
      &.as-h3 { @apply tw-text-[1.75rem]; }
      &.as-h4 { @apply tw-text-[1.375rem]; }
      &.as-h5,
      &.as-h6 {
        @apply tw-text-lg;
      }
    }

    .sub-title {
      &.as-h1 { @apply tw-text-lg; }
      &.as-h2,
      &.as-h3,
      &.as-h4,
      &.as-h5,
      &.as-h6 {
        @apply tw-text-base;
      }
    }
  }
}

body #content .container,
body #content .tw-container {
  .custom-paragraphText {
    ul {
      @apply tw-mb-4 tw-ml-4 tw-list-none tw-list-inside;

      li {
        @apply tw-relative tw-mb-2 tw-text-base;

        &:before {
          @apply tw-text-[2rem] tw-mr-2 tw-absolute tw-text-blue-500;
          content: "•";
          top: -16px;
          left: -20px;
        }
      }
    }

    ol {
      @apply tw-mb-4 tw-ml-4 tw-list-decimal tw-list-inside;

      ol {
        @apply tw-mb-4 tw-ml-4 tw-list-decimal tw-list-inside;
        list-style-type: upper-alpha;

        ol {
          @apply tw-mb-4 tw-ml-4 tw-list-decimal tw-list-inside;
          list-style-type: upper-roman;

          ol {
            @apply tw-mb-4 tw-ml-4 tw-list-decimal tw-list-inside;
            list-style-type: lower-alpha;
          }
        }
      }
    }

    p::last-of-type,
    p::last-child {
        @apply tw-mb-0;
    }
  }
}

.split-bg-color {
  &-white {
    &-white {
      @apply tw-bg-white;
    }
  
    &-gray {
      background: linear-gradient( to bottom, white 0%, white 50%, theme('colors.gray.200') 50%, theme('colors.gray.200') 100% );
    }
  
    &-blue {
      background: linear-gradient( to bottom, white 0%, white 50%, theme('colors.blue.200') 50%, theme('colors.blue.200') 100% );
    }
  
    &-green {
      background: linear-gradient( to bottom, white 0%, white 50%, theme('colors.green.200') 50%, theme('colors.green.200') 100% );
    }
  }

  &-gray {
    &-white {
      background: linear-gradient( to bottom, theme('colors.gray.200') 0%, theme('colors.gray.200') 50%, white 50%, white 100% );
    }
  
    &-gray {
      @apply tw-bg-gray-200;
    }
  
    &-blue {
      background: linear-gradient( to bottom, theme('colors.gray.200') 0%, theme('colors.gray.200') 50%, theme('colors.blue.200') 50%, theme('colors.blue.200') 100% );
    }
  
    &-green {
      background: linear-gradient( to bottom, theme('colors.gray.200') 0%, theme('colors.gray.200') 50%, theme('colors.blue.200') 50%, theme('colors.blue.200') 100% );
    }
  }

  &-blue {
    &-white {
      background: linear-gradient( to bottom, theme('colors.blue.200') 0%, theme('colors.blue.200') 50%, white 50%, white 100% );
    }
  
    &-gray {
      background: linear-gradient( to bottom, theme('colors.blue.200') 0%, theme('colors.blue.200') 50%, theme('colors.gray.200') 50%, theme('colors.gray.200') 100% );
    }
  
    &-blue {
      @apply tw-bg-blue-200;
    }
  
    &-green {
      background: linear-gradient( to bottom, theme('colors.blue.200') 0%, theme('colors.blue.200') 50%, theme('colors.green.200') 50%, theme('colors.green.200') 100% );
    }
  }

  &-green {
    &-white {
      background: linear-gradient( to bottom, theme('colors.green.200') 0%, theme('colors.green.200') 50%, white 50%, white 100% );
    }
  
    &-gray {
      background: linear-gradient( to bottom, theme('colors.green.200') 0%, theme('colors.green.200') 50%, theme('colors.gray.200') 50%, theme('colors.gray.200') 100% );
    }
  
    &-blue {
      background: linear-gradient( to bottom, theme('colors.green.200') 0%, theme('colors.green.200') 50%, theme('colors.blue.200') 50%, theme('colors.blue.200') 100% );
    }
  
    &-green {
      @apply tw-bg-green-200;
    }
  }
}