button,
.button {
  @apply tw-inline-block tw-px-6 tw-py-2 tw-text-base tw-font-semibold tw-border-none tw-rounded tw-cursor-pointer;
  transition: $transition;
  line-height: 1.31rem;

  &.is {
    &-primary {
      @apply tw-text-gray-700 tw-bg-yellow-500 tw-border-yellow-500;

      &:focus,
      &:hover,
      &:active {
        @apply tw-text-black tw-bg-yellow-600;
      }

      &.is-outlined {
        @apply tw-border-2 tw-border-yellow-500 tw-border-solid;

        &:focus,
        &:hover,
        &:active {
          @apply tw-text-current tw-bg-yellow-300 tw-border-2 tw-border-yellow-500 tw-border-solid;
        }
      }
    }

    &-secondary {
      @apply tw-text-white tw-bg-blue-500 tw-border-blue-500;

      &:focus,
      &:hover,
      &:active {
        @apply tw-text-white tw-bg-blue-700;
      }

      &.is-outlined {
        @apply tw-border-2 tw-border-blue-500 tw-border-solid;

        &:focus,
        &:hover,
        &:active {
          @apply tw-text-current tw-bg-blue-300 tw-border-2 tw-border-blue-500 tw-border-solid;
        }
      }
    }

    &-disabled {
      @apply tw-text-gray-800 tw-bg-gray-300 tw-border-gray-300 tw-opacity-75 tw-cursor-default;

      &:focus,
      &:hover,
      &:active {
        @apply tw-text-gray-800 tw-bg-gray-300 tw-cursor-default;
      }
    }

    &-no-bg-color {
      @apply tw-bg-transparent;
  
      &:focus,
      &:hover,
      &:active {
        @apply tw-bg-transparent;
      }
    }

    &-outlined {
      @apply tw-text-current tw-bg-transparent tw-border-2 tw-border-solid;

      &:focus,
      &:hover,
      &:active {

      }
    }

    &-icon {
      @apply tw-border tw-border-solid tw-mx-5 tw-px-5 tw-my-2 tw-py-2;

      &:focus,
      &:hover,
      &:active {
      }
    }

    .-white-txt {
      @apply tw-text-white;
    }

    &-seafoam {
      @apply tw-bg-rebrand-seafoam tw-text-black;
      &:focus,
      &:hover,
      &:active {
        @apply tw-bg-rebrand-seafoam-dark tw-text-current tw-text-black;
      }
    }
  }

  &.is-narrow {
    @apply tw-px-3;
  }

  &.is-small {
    @apply tw-px-4 tw-py-1;
  }

  &.button--small-cta {
    @apply tw-py-[.75em] tw-border-transparent tw-text-xs tw-font-bold;
  }
}

.button-arrow {
  @apply tw-hidden mobile:tw-block;
  width: 67px;
}

.retail-microsite-button-dark {
  @apply tw-bg-black tw-text-white tw-font-bold tw-break-words tw-uppercase tw-inline-block tw-px-[2em] tw-py-[1.2em] tw-my-0 tw-mx-[.5em] tw-text-lg;
  word-wrap: break-word;
  text-decoration: none;

  &.is-green-button {
    @apply tw-bg-green-500;

    &:hover {
      @apply tw-text-white tw-bg-green-600;
    }
  }

  &:hover {
    @apply tw-text-white tw-bg-gray-600;
  }
}

.retail-microsite-button-dark-ghost {
  @apply tw-bg-white tw-text-black tw-border-2 tw-border-black tw-font-semibold tw-break-words tw-uppercase tw-inline-block tw-text-sm tw-px-[2em] tw-py-[.65em];
  word-wrap: break-word;
  text-decoration: none;

  &:hover {
    @apply tw-text-white tw-bg-gray-400 tw-border-2 tw-border-gray-600;
  }
}

.retail-microsite-button-gray {
  @apply tw-text-gray-600 tw-bg-gray-200 tw-font-normal tw-break-words tw-uppercase tw-inline-block tw-px-[1em] tw-py-[.5em] tw-my-[.5em];
  word-wrap: break-word;
  text-decoration: none;

  &:hover {
    @apply tw-text-gray-600 tw-bg-gray-200;
  }
}
