table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  border: 1px solid theme('colors.gray.300');
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid theme('colors.gray.300');
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid theme('colors.gray.300') !important;
    display: block;
    font-size: 0.8em;
    text-align: left;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    margin-right: 2em;
    font-weight: theme('fontWeight.semibold');
  }

  table td:last-child {
    border-bottom: 0 !important;
  }
}
