// Executives & Board Page
// ========================================

#content #leadership {
  #executiveList {
    @apply tw-overflow-x-hidden;
    
    .applause-swiper-wrapper {
      @apply mobile:tw-grid mobile:tw-grid-cols-3 tablet:tw-grid-cols-3 small:tw-grid-cols-4 tw-gap-y-8 tw-flex tw-gap-6;
    }

    &.swiper-initialized {
      @apply tw-overflow-visible;
    }

    .executive {
      .title {
        @apply tw-my-2 tw-text-xl;
      }

      .photo-wrapper {
        @apply tw-relative tw-overflow-hidden tw-rounded;

        picture {
          @apply tw-transition-all tw-origin-center;
          transition-duration: 0.7s;
        }

        .arrow-box {
          @apply tw-bg-opacity-80 tw-aspect-square tw-absolute tw-bottom-0 tw-right-0 tw-w-10 tw-p-2 tw-text-center tw-text-blue-500 tw-transition-all tw-bg-white tw-rounded-tl;

          span {
            @apply tw-inline-block tw-transition-all;
            transition-duration: 0.5s;
          }
        }
      }

      &:hover {
        @apply tw-cursor-pointer;

        .photo-wrapper {
          picture {
            @apply tw-scale-110;
          }

          .arrow-box {
            @apply tw-bg-blue-300 tw-opacity-100;

            span {
              @apply tw-inline-block tw-scale-x-150;
            }
          }
        }
      }
    }
  
    .swiper-pagination.swiper-pagination-bullets {
      bottom: -2rem !important;
    
      .swiper-pagination-bullet {
        @apply hover:tw-bg-gray-300 tw-w-6 tw-bg-gray-400 tw-rounded;
    
        &.swiper-pagination-bullet-active {
          @apply hover:tw-bg-blue-700 tw-bg-blue-600;
        }
      }
    }
  
  }

  #boardList {
    .applause-swiper-wrapper {
      @apply tw-flex tw-flex-wrap tw-justify-center tw-gap-6 tw-overflow-visible;
    }

    &.swiper-initialized {
      @apply tw-overflow-visible;
    }

    .executive {
      @apply mobile:tw-basis-[26vw] tablet:tw-basis-[19vw] small:tw-basis-[14vw] medium:tw-basis-[12vw];

      .title {
        @apply tw-text-md mobile:tw-text-lg tw-my-2;
      }

      .job-title {
        @apply tw-leading-tight;
      }

      .photo-wrapper {
        @apply tw-mb-4 tw-overflow-hidden tw-rounded;
      }
    }

    .swiper-pagination.swiper-pagination-bullets {
      bottom: -2rem !important;
    
      .swiper-pagination-bullet {
        @apply hover:tw-bg-gray-300 tw-w-6 tw-bg-gray-400 tw-rounded;
    
        &.swiper-pagination-bullet-active {
          @apply hover:tw-bg-blue-700 tw-bg-blue-600;
        }
      }
    }
  }

  .leadership-footer {
    .tw-py-4 {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

