#single-blog-post {
  .cat-title,
  .share-section-title {
    @apply tw-text-sm tw-font-medium tw-p-0 tw-mb-2;
  }

  #author-bio {
    @apply tw-w-full;

    a {
      @apply tablet:tw-mt-0 tw-pb-4 tw-my-4 tw-border-b tw-border-gray-300 tw-w-full tw-inline-flex tw-no-underline;
      border-bottom-style: solid;
    }

    .author-image {
      img {
        @apply tw-w-12;
      }
    }

    .author-info {
      @apply tw-self-center;
    }
  }

  #author-bio .author-image {
    margin-right: 1rem;
  }

  #author-bio .author-image img {
    border-radius: 50%;
    filter: grayscale(1);
    width: 3rem;
    max-width: 3rem;
  }

  #author-bio .author-info {
    line-height: 1rem;
  }

  #author-bio .author-info .author-name {
    font-size: 13px;
  }

  #author-bio .author-info .author-title {
    font-size: 12px;
    color: #606060;
  }

  .dicm_blog_authors {
    margin-bottom: 0 !important;
  }

  .dicm_blog_reading_time .reading-time {
    font-size: 13px;
    color: #606060;
    display: inline-flex;
    gap: 5px;
    line-height: 1rem;

    strong {
      font-size: 13px;
      color: #606060;
    }
  }

  .publish-date.et_pb_text {
    font-size: 13px;
    color: #606060;
    line-height: 1rem;

    strong {
      font-size: 13px;
      color: #606060;
    }
  }

  .dicm_social_share {
    svg {
      height: 0.75rem;
      width: 0.75rem;
    }

    .share.icon {
      margin-right: 0.25rem;
      border-radius: 9999px;
      padding: 0.4rem 0.65rem;
      transition: all linear 0.2s;

      svg {
        transition: all linear 0.2s;
      }

      &:hover {
        @apply tw-bg-blue-500 tw-text-white;

        svg {
          filter: brightness(2) contrast(2);
        }
      }

      .status {
        display: none;
      }

      &.copied {
        .status {
          display: block;
        }
      }
    }
  }

  .et_pb_post_content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply tw-text-gray-900;
      font-size: 1.75rem;
      font-weight: bold;

      strong {
        @apply tw-text-gray-900;
        font-size: 1.75rem;
        font-weight: 600;
      }
    }
  }

  #custom-breadcrumbs,
  #custom-breadcrumbs a,
  #custom-breadcrumbs p {
    @apply tw-font-sans tw-text-[13px] tw-text-gray-500;
  }

  .dp-dfg-layout-none .dp-dfg-items {
    .dp-dfg-item {
      display: grid;
      padding-bottom: 0;

      &:hover {
        .entry-title,
        .dp-dfg-meta a {
          text-decoration: underline;
        }
      }
    }

    .dp-dfg-item > * {
      @apply tw-p-0 tw-m-0 tw-mb-2;
      line-height: 1.25rem;
    }

    .dp-dfg-header.entry-header {
      @apply tw-order-2 tw-p-0 tw-m-0 tw-mb-2;

      .entry-title {
        @apply tw-text-md tw-font-semibold;
      }
    }

    .dp-dfg-meta.entry-meta {
      @apply tw-order-1;

      a {
        @apply tw-text-xs tw-font-normal;
      }
    }

    .dp-dfg-content.entry-summary {
      @apply tw-order-3;
    }

    .dp-dfg-custom-content {
      @apply tw-order-4 tw-p-0 tw-m-0;
    }

    .entry-summary {
      font-weight: 300;
      line-height: 1.25rem;
    }
  }

  .categories-section {
    a {
      --tw-bg-opacity: 1;
      --tw-text-opacity: 1;
      background-color: rgb(236 236 236 / var(--tw-bg-opacity));
      border-radius: 9999px;
      color: rgb(27 27 27 / var(--tw-text-opacity));
      display: inline-block;
      font-size: 0.875rem;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      transition: all linear 0.2s;

      &:hover {
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        background-color: rgb(2 114 180 / var(--tw-bg-opacity));
        color: rgb(255 255 255 / var(--tw-text-opacity));
        text-decoration-line: none;
      }
    }
  }
} // END #single-blog-post

#blog-index-featured {
  .dp-dfg-item {
    .entry-title a {
      @apply tw-transition-all tw-duration-200;
    }

    &:hover {
      .entry-title a {
        @apply tw-text-blue-500 tw-underline;
      }
    }
  }

  .dp-dfg-image img {
    border-radius: 6px;
  }

  // Featured Posts - Sidebar
  #featured-posts {
    .dp-dfg-item {
      display: grid;
      grid-template-columns: 70% 30%;
      margin-bottom: 2rem;

      .column:first-child {
        order: 2;
      }

      .column:last-child {
        order: 1;
        display: grid;
        grid-template-columns: 100%;
        margin-right: 1rem;
      }

      .entry-meta {
        order: 1;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 1rem;

        a {
          font-size: 12px;
          line-height: 1rem;
        }
      }

      .entry-header {
        order: 2;
        font-size: 1rem;
        margin-bottom: 6px;
        line-height: 1rem;

        h2.entry-title,
        a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 1rem;
        }
      }

      .entry-summary {
        order: 3;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
  }

  // Featured Posts - Main
  #single-featured-post {
    .dp-dfg-item {
      display: grid;

      .entry-meta {
        order: 1;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 1rem;

        a {
          font-size: 12px;
          line-height: 1rem;
        }
      }

      .entry-header {
        order: 2;
        font-size: 1rem;
        margin-bottom: 6px;
        line-height: 1rem;

        h2.entry-title,
        a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 1rem;
        }
      }

      .entry-summary {
        order: 3;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }

      .dp-dfg-image {
        margin-bottom: 1rem;
      }
    }
  }
} // END #blog-index-featured

#applause-news-slider,
#crowdtesting-slider,
#customer-stories-slider,
#dev-qa-trends-slider {
  // Post Carousels
  &.lwp_post_carousel {
    .lwp_post_carousel_item {
      padding: 0;
      padding-right: 1.5rem;

      .lwp_post_carousel_item_inner {
        padding: 0;
        display: grid;
        font-family: "proxima_nova";
      }

      .lwp_post_carousel_image {
        margin: 0 auto;
        margin-bottom: 1rem;

        img {
          transition: all linear 0.2s;
          border: 1px solid transparent;
        }
      }

      .lwp_post_carousel_title,
      .lwp_post_carousel_title a {
        order: 2;
        font-weight: 600;
        margin-top: 0;
        font-family: "proxima_nova";
        transition: all linear 0.2s;
      }

      .lwp_post_carousel_meta {
        order: 1;
        margin-bottom: 1rem !important;

        a {
          font-size: 13px;
          line-height: 1.3;
          font-family: "proxima_nova";
        }
      }

      .lwp_post_carousel_excerpt {
        order: 3;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }

      &:hover {
        a.lwp_post_title {
          color: #0272b4 !important;
          text-decoration: underline;
        }

        .lwp_carousel_featured_image img {
          border: 1px solid #ccc;
        }
      }
    }

    .slick-dots li {
      width: 10px;
      height: 10px;
    }

    .slick-dots li.slick-active button {
      background-color: #0272b4;
      opacity: 1;
    }

    .lwp_meta_categories {
      color: transparent;

      a {
        display: none;
        float: left;
      }
    }
  }
}

#applause-news-slider .lwp_meta_categories a[href*="dfg_active_filter"] {
  display: inline-block;
}

#crowdtesting-slider .lwp_meta_categories a[href*="dfg_active_filter"] {
  display: inline-block;
}

#customer-stories-slider .lwp_meta_categories a[href*="dfg_active_filter"] {
  display: inline-block;
}

#dev-qa-trends-slider .lwp_meta_categories a[href*="dfg_active_filter"] {
  display: inline-block;
}

body.single-post #single-blog-post {
  mark {
    background-color: rgb(252 186 0);
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: nowrap;
  }
  code {
    background-color: rgb(240 240 240);
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: nowrap;
  }
  sub, sup {
    font-size: 75%;
  }
  ul li {
    line-height: 1.25rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    position: relative;
  }
  ul.blue-arrows li, 
  ul.green-check li, 
  ul.red-x li {
    align-content: flex-start;
    display: inline-flex;
    flex-direction: column;
    min-height: 1rem;
    width: 100%;
  }
  ul.blue-arrows li:before {
    align-content: center;
    color: rgb(2 114 180);
    content: "⟶";
    display: grid;
    font-size: 1rem;
    height: 20px;
    justify-content: center;
    left: -1.25rem;
    position: absolute;
    width: 20px;
  }
  ul.green-check li:before {
    align-content: center;
    background-color: rgb(0 183 139);
    border-radius: 9999px;
    color: rgb(255 255 255);
    content: "✓";
    display: grid;
    font-size: 1rem;
    height: 20px;
    justify-content: center;
    left: -1.25rem;
    position: absolute;
    width: 20px;
  }
  ul.red-x li:before {
    align-content: center;
    background-color: rgb(239 68 68);
    border-radius: 9999px;
    color: rgb(255 255 255);
    content: "✕";
    display: grid;
    font-size: 1rem;
    height: 20px;
    justify-content: center;
    left: -1.25rem;
    position: absolute;
    width: 20px;
  }
  ol {
    list-style-position: outside;
  }
  ol.blue-numbers li::marker {
    color: rgb(2 114 180);
  }
  table {
    border: 1px solid #d3d3d3;
  }
  table tr td {
    border-top: 1px solid #d3d3d3;
    padding: .625em;
  }
  blockquote.blog-quote {
    background-color: rgb(255 255 255);
    color: rgb(2 114 180);
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    border-color: rgb(2 114 180/var(--tw-border-opacity));
    border-left-style: solid;
    border-left-width: 4px;
    padding: .5rem 1rem;
  }
  blockquote.blog-quote p,
  blockquote.blog-quote p.quote-text {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
  }
  blockquote.blog-quote .quote-author {
    color: rgb(58 58 58);
    font-size: .875rem;
    font-weight: 400;
    margin-top: .5rem;
    position: relative;
  }
  blockquote.blog-quote .quote-author:before {
    content: "—";
    margin-right: 5px;
  }
  .blog-cta {
    background-color: rgb(230 241 248);
    border-radius: .375rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    padding: 1rem 2rem;

    .type-tag {
      color: rgb(2 103 162);
      font-size: .875rem;
    }
    .title {
      font-size: 1.375rem;
      font-weight: 600;
      padding: 10px 0 0 0;
    }
    p {
      font-size: .875rem;
      line-height: 1.25rem;
    }
    a {
      text-decoration: none;
      font-size: inherit;
      &.button:hover{
        color: #fff !important;
      }
    }
    &.compact {
      display: flex;
      place-content: stretch;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      a.button {
        margin-left: .5rem;
        margin-top: 0;
        padding: .5rem;
      }
    }
    .tw-w-5 {
      width: 1.25rem;
    }
    .tw-block {
      display: block;
    }
  }
  .blog-image-single,
  .blog-image-double {
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .blog-image-double {
    display: flex;
    .blog-image:first-of-type {
      margin-right: .5rem;
    }
    .blog-image:last-of-type {
      margin-left: .5rem;
    }
  }
  @media screen and (max-width: 600px) {
    table td {
      border-bottom: 1px solid #d3d3d3 !important;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    .blog-image-double {
      flex-direction: column;
      .blog-image:first-of-type {
        margin-right: 0;
      }
      .blog-image:last-of-type {
        margin-left: 0;
      }
      img {
        margin-bottom: 1rem;
      }
    }

  }

}