#single-blog-post {
  .cat-title,
  .share-section-title {
    @apply tw-text-sm tw-font-medium tw-p-0 tw-mb-2;
  }

  #author-bio {
    @apply tw-w-full;

    a {
      @apply tablet:tw-mt-0 tw-pb-4 tw-my-4 tw-border-b tw-border-gray-300 tw-w-full tw-inline-flex tw-no-underline;
      border-bottom-style: solid;
    }

    .author-image {
      img {
        @apply tw-w-12;
      }
    }

    .author-info {
      @apply tw-self-center;
    }
  }

  #author-bio .author-image {
    margin-right: 1rem;
  }

  #author-bio .author-image img {
    border-radius: 50%;
    filter: grayscale(1);
    width: 3rem;
    max-width: 3rem;
  }

  #author-bio .author-info {
    line-height: 1rem;
  }

  #author-bio .author-info .author-name {
    font-size: 13px;
  }

  #author-bio .author-info .author-title {
    font-size: 12px;
    color: #606060;
  }

  .dicm_blog_authors {
    margin-bottom: 0 !important;
  }

  .dicm_blog_reading_time .reading-time {
    font-size: 13px;
    color: #606060;
    display: inline-flex;
    gap: 5px;
    line-height: 1rem;

    strong {
      font-size: 13px;
      color: #606060;
    }
  }

  .publish-date.et_pb_text {
    font-size: 13px;
    color: #606060;
    line-height: 1rem;

    strong {
      font-size: 13px;
      color: #606060;
    }
  }

  .dicm_social_share {
    svg {
      height: 0.75rem;
      width: 0.75rem;
    }

    .share.icon {
      margin-right: 0.25rem;
      border-radius: 9999px;
      padding: 0.4rem 0.65rem;
      transition: all linear 0.2s;

      svg {
        transition: all linear 0.2s;
      }

      &:hover {
        @apply tw-bg-blue-500 tw-text-white;

        svg {
          filter: brightness(2) contrast(2);
        }
      }

      .status {
        display: none;
      }

      &.copied {
        .status {
          display: block;
        }
      }
    }
  }

  .et_pb_post_content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply tw-text-gray-900;
      font-size: 1.75rem;
      font-weight: bold;

      strong {
        @apply tw-text-gray-900;
        font-size: 1.75rem;
        font-weight: 600;
      }
    }
  }

  #custom-breadcrumbs,
  #custom-breadcrumbs a,
  #custom-breadcrumbs p {
    @apply tw-font-sans tw-text-[13px] tw-text-gray-500;
  }

  .dp-dfg-layout-none .dp-dfg-items {
    .dp-dfg-item {
      display: grid;
      padding-bottom: 0;

      &:hover {
        .entry-title,
        .dp-dfg-meta a {
          text-decoration: underline;
        }
      }
    }

    .dp-dfg-item > * {
      @apply tw-p-0 tw-m-0 tw-mb-2;
      line-height: 1.25rem;
    }

    .dp-dfg-header.entry-header {
      @apply tw-order-2 tw-p-0 tw-m-0 tw-mb-2;

      .entry-title {
        @apply tw-text-md tw-font-semibold;
      }
    }

    .dp-dfg-meta.entry-meta {
      @apply tw-order-1;

      a {
        @apply tw-text-xs tw-font-normal;
      }
    }

    .dp-dfg-content.entry-summary {
      @apply tw-order-3;
    }

    .dp-dfg-custom-content {
      @apply tw-order-4 tw-p-0 tw-m-0;
    }

    .entry-summary {
      font-weight: 300;
      line-height: 1.25rem;
    }
  }

  .categories-section {
    a {
      background-color: rgb(236, 236, 236);
      border-radius: 9999px;
      color: rgb(27, 27, 27);
      display: inline-block;
      font-size: 0.875rem;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      transition: all linear 0.2s;

      &:hover {
        background-color: rgb(2, 114, 180);
        color: rgb(255, 255, 255);
        text-decoration-line: none;
      }
    }
  }
} // END #single-blog-post

#blog-index-featured {
  .dp-dfg-item {
    .entry-title a {
      @apply tw-transition-all tw-duration-200;
    }

    &:hover {
      .entry-title a {
        @apply tw-text-blue-500 tw-underline;
      }
    }
  }

  .dp-dfg-image img {
    border-radius: 6px;
  }

  // Featured Posts - Sidebar
  #featured-posts {
    .dp-dfg-item {
      display: grid;
      grid-template-columns: 70% 30%;
      margin-bottom: 2rem;

      .column:first-child {
        order: 2;
      }

      .column:last-child {
        order: 1;
        display: grid;
        grid-template-columns: 100%;
        margin-right: 1rem;
      }

      .entry-meta {
        order: 1;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 1rem;

        a {
          font-size: 12px;
          line-height: 1rem;
        }
      }

      .entry-header {
        order: 2;
        font-size: 1rem;
        margin-bottom: 6px;
        line-height: 1rem;

        h2.entry-title,
        a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 1rem;
        }
      }

      .entry-summary {
        order: 3;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }
    }
  }

  // Featured Posts - Main
  #single-featured-post {
    .dp-dfg-item {
      display: grid;

      .entry-meta {
        order: 1;
        font-size: 12px;
        margin-bottom: 6px;
        line-height: 1rem;

        a {
          font-size: 12px;
          line-height: 1rem;
        }
      }

      .entry-header {
        order: 2;
        font-size: 1rem;
        margin-bottom: 6px;
        line-height: 1rem;

        h2.entry-title,
        a {
          font-size: 1rem;
          font-weight: 600;
          line-height: 1rem;
        }
      }

      .entry-summary {
        order: 3;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }

      .dp-dfg-image {
        margin-bottom: 1rem;
      }
    }
  }
} // END #blog-index-featured

#applause-news-slider,
#crowdtesting-slider,
#customer-stories-slider,
#dev-qa-trends-slider {
  // Post Carousels
  &.lwp_post_carousel {
    .lwp_post_carousel_item {
      padding: 0;
      padding-right: 1.5rem;

      .lwp_post_carousel_item_inner {
        padding: 0;
        display: grid;
        font-family: "proxima_nova";
      }

      .lwp_post_carousel_image {
        margin: 0 auto;
        margin-bottom: 1rem;

        img {
          transition: all linear 0.2s;
          border: 1px solid transparent;
        }
      }

      .lwp_post_carousel_title,
      .lwp_post_carousel_title a {
        order: 2;
        font-weight: 600;
        margin-top: 0;
        font-family: "proxima_nova";
        transition: all linear 0.2s;
      }

      .lwp_post_carousel_meta {
        order: 1;
        margin-bottom: 1rem !important;

        a {
          font-size: 13px;
          line-height: 1.3;
          font-family: "proxima_nova";
        }
      }

      .lwp_post_carousel_excerpt {
        order: 3;
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.3rem;
      }

      &:hover {
        a.lwp_post_title {
          color: #0272b4 !important;
          text-decoration: underline;
        }

        .lwp_carousel_featured_image img {
          border: 1px solid #ccc;
        }
      }
    }

    .slick-dots li {
      width: 10px;
      height: 10px;
    }

    .slick-dots li.slick-active button {
      background-color: #0272b4;
      opacity: 1;
    }

    .lwp_meta_categories {
      color: transparent;

      a {
        display: none;
        float: left;
      }
    }
  }
}

#applause-news-slider .lwp_meta_categories a[href*="applause-news"] {
  display: inline-block;
}

#crowdtesting-slider .lwp_meta_categories a[href*="crowdtesting"] {
  display: inline-block;
}

#customer-stories-slider .lwp_meta_categories a[href*="customer-stories"] {
  display: inline-block;
}

#dev-qa-trends-slider .lwp_meta_categories a[href*="dev-qa-trends"] {
  display: inline-block;
}